<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
    <meta name="author" content="AdminKit">
    <meta name="keywords"
        content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="/admin_data/img/icons/icon-48x48.png" />

    <link rel="canonical" href="https://demo-basic.adminkit.io/" />

    <title>AdminKit Demo - Bootstrap 5 Admin Template</title>



    <style>
    .sidebar-dropdown .sidebar-link {
  padding-left: 45px;
  font-size: 14px;
}



</style>



    <link href="/admin_data/css/app.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href="https://fonts.googoleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="index.html">
                    <span class="align-middle">AdminKit</span>
                </a>
                     <li class="sidebar-item active">
                        <a class="sidebar-link" href="/admin">
                            <i class="align-middle" data-feather="sliders"></i> <span
                                class="align-middle">Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="/admin/slider">
                            <i class="align-middle" data-feather="sliders"></i> <span
                                class="align-middle">Slider Autokart</span>
                        </a>
                    </li>

                 
                

                  

                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="/admin/Tractor">
                            <i class="align-middle" data-feather="sliders"></i> <span
                                class="align-middle">Tractor_Dec</span>
                        </a>
                    </li>

                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="/admin/Vehicle">
                            <i class="align-middle" data-feather="sliders"></i> <span
                                class="align-middle">Vehicle_Dec</span>
                        </a>
                    </li>




<li class="sidebar-item active">
  <a
    class="sidebar-link"
    data-bs-toggle="collapse"
    href="#categoriesSubMenu"
    role="button"
    aria-expanded="true"
  >
    <i class="align-middle" data-feather="sliders"></i>
    <span class="align-middle">Categories</span>
  </a>

  <!-- 🔽 Sub Sessions -->
  <ul class="collapse show sidebar-dropdown list-unstyled" id="categoriesSubMenu">

    <li class="sidebar-item">
      <a class="sidebar-link" href="/admin/categories/vehicle-decoration">
        Vehicle Decoration Accessories
      </a>
    </li>

    <li class="sidebar-item">
      <a class="sidebar-link" href="/admin/categories/led-lights">
        LED & Fancy Decoration Lights
      </a>
    </li>

    <li class="sidebar-item">
      <a class="sidebar-link" href="/admin/categories/stickers-decals">
        Decoration Stickers & Decals
      </a>
    </li>

    <li class="sidebar-item">
      <a class="sidebar-link" href="/admin/categories/decoration-tape">
        Decoration Tape & Reflective Rolls
      </a>
    </li>

    <li class="sidebar-item">
      <a class="sidebar-link" href="/admin/categories/chrome-steel">
        Chrome / Steel Accessories
      </a>
    </li>

    <li class="sidebar-item">
      <a class="sidebar-link" href="/admin/categories/interior">
        Interior Decoration Accessories
      </a>
    </li>

    <li class="sidebar-item">
      <a class="sidebar-link" href="/admin/categories/exterior">
        Exterior Decoration Accessories
      </a>
    </li>

    <li class="sidebar-item">
      <a class="sidebar-link" href="/admin/categories/horn-siren">
        Horn & Siren Items
      </a>
    </li>

    <li class="sidebar-item">
      <a class="sidebar-link" href="/admin/categories/electrical">
        Electrical Decoration Items
      </a>
    </li>

    <li class="sidebar-item">
      <a class="sidebar-link" href="/admin/categories/safety-warning">
        Safety & Warning Items
      </a>
    </li>

  </ul>
</li>



                          </li>
                      <li class="sidebar-item active">
                        <a class="sidebar-link" href="/admin/Electronics">
                            <i class="align-middle" data-feather="sliders"></i> <span
                                class="align-middle">Electronics </span>
                        </a>
                    </li>

                      <li class="sidebar-item active">
                        <a class="sidebar-link" href="/admin/Contact_us">
                            <i class="align-middle" data-feather="sliders"></i> <span
                                class="align-middle">Contact Us </span>
                        </a>
                    </li>
                    
                    </div>


        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">


                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
                                data-bs-toggle="dropdown">
                                <i class="align-middle" data-feather="settings"></i>
                            </a>

                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#"
                                data-bs-toggle="dropdown">
                                <img src="/admin_data/img/avatars/avatar.jpg" class="avatar img-fluid rounded me-1"
                                    alt="Charles Hall" /> <span class="text-dark">Tushar Madane</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="pages-profile.html"><i class="align-middle me-1"
                                        data-feather="user"></i> Profile</a>

                                <a class="dropdown-item" href="/admin">Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="content">






         

           

    