<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Profile | Flipkart</title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="user_cdn/css/my_profile.css">
 
</head>
<body>

<!-- TOP NAVBAR -->
<header class="topbar">
  <div class="logo">Flipkart <span>Explore Plus</span></div>

  <input type="text" placeholder="Search for products, brands and more">

  <div class="nav-right">
    
    <span class="user">Tushar ⌄</span>
    <span>Become a Seller</span>
    <span>More ⌄</span>
    <span class="cart"><i class="bi bi-cart"></i> Cart</span>
  </div>
</header>

<!-- MAIN CONTAINER -->
<div class="container">

  <!-- LEFT SIDEBAR -->
  <aside class="sidebar">

    <div class="user-box">
      <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png">
      <div>
        <p>Hello,</p>
        <h4>Tushar Tushar</h4>
      </div>
    </div>
    <div class="menu">
      <div class="menu-title"><i class="bi bi-box"></i> MY ORDERS</div>

      <div class="menu-title"><i class="bi bi-person"></i> ACCOUNT SETTINGS</div>
      <a class="active">Profile Information</a>
      <a>Manage Addresses</a>
      <a>PAN Card Information</a>

      <div class="menu-title"><i class="bi bi-credit-card"></i> PAYMENTS</div>
      <a>Gift Cards <span class="green">₹0</span></a>
      <a>Saved UPI</a>
      <a>Saved Cards</a>
    </div>

  </aside>

  <!-- RIGHT CONTENT -->
  <main class="content">

    <section class="card">
      <h3>Personal Information <span>Edit</span></h3>

      <div class="row">
        <input type="text" value="Tushar">
        <input type="text" value="Tushar">
      </div>

      <div class="gender">
        <p>Your Gender</p>
        <label><input type="radio" name="gender"> Male</label>
        <label><input type="radio" name="gender"> Female</label>
      </div>
    </section>

    <section class="card">
      <h3>Email Address <span>Edit</span></h3>
      <input type="email" value="madanetushar133@gmail.com">
    </section>

    <section class="card">
      <h3>Mobile Number <span>Edit</span></h3>
      <input type="text" value="+918010196768">
    </section>

  </main>

</div>

</body>
</html>
