<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Account | Flipkart</title>
  <link rel="stylesheet" href="user_cdn/css/register.css">
</head>
<body>


<div class="main-container">

  <!-- LEFT SIDE -->
  <div class="left-box">
        <h1>Login </h1>
    <h1>Looks like you're new here!</h1>
    <p>Sign up with your details to get started</p>
  </div>

  <!-- RIGHT SIDE -->
  <div class="right-box">
    <form action="/login_Flipkart_account" method="post">

User Name
      <input type="text" name="user_user_name" placeholder="Username" required>

Password      
      <input type="password" name="user_password" placeholder="Password" required>

      <p class="terms">
        By continuing, you agree to Flipkart's
        <span>Terms of Use</span> and <span>Privacy Policy</span>.
      </p>

      <button type="submit" class="btn-primary">Login Account </button>

      <a href="/register" class="login-link">Create Account Here</a>

    </form>
  </div>

</div>

</body>
</html>
