<!-- <h1>welcome</h1>
Register Form 
 <form action="/save_instagram_account" method="post">

    Enter First Name
    <input type="text" name="user_first_name"><br><br>
     Enter Last Name
    <input type="text" name="user_last_name"><br><br>
     Enter User_Name
    <input type="text" name="user_user_name"><br><br>
     Enter Mobile No
    <input type="text" name="user_mobile"><br><br>
    Enter Email No
    <input type="text" name="user_email"><br><br>
     Enter Password
    <input type="text" name="user_password"><br><br>
    <button>Create Account</button>

</form>  -->



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Account | Flipkart</title>
  <link rel="stylesheet" href="user_cdn/css/register.css">
</head>
<body>

<div class="main-container">

  <!-- LEFT SIDE -->
  <div class="left-box">
    <h1>Create Account</h1>
    <h1>Looks like you're new here!</h1>
    <p>Sign up with your details to get started</p>
  </div>

  <!-- RIGHT SIDE -->
  <div class="right-box">
    <form action="/save_flipkart_account" method="post">

      <input type="text" name="user_first_name" placeholder="First Name" required>

      <input type="text" name="user_last_name" placeholder="Last Name" required>

      <input type="text" name="user_user_name" placeholder="Username" required>

      <input type="text" name="user_mobile" placeholder="Mobile Number" required>

      <input type="email" name="user_email" placeholder="Email" required>

      <input type="password" name="user_password" placeholder="Password" required>

      <p class="terms">
        By continuing, you agree to Flipkart's
        <span>Terms of Use</span> and <span>Privacy Policy</span>.
      </p>

      <button type="submit" class="btn-primary">Create Account</button>

      <a href="/user_login" class="login-link">Existing User? Log in</a>

    </form>
  </div>

</div>

</body>
</html>