<link rel="stylesheet" href="/css/navbar.css">
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
/>


<!-- TOP NAVBAR -->
<div class="top-navbar">

  <div class="logo">
    <a href="/" style="text-decoration:none;color:inherit;">
      AutoKart
    </a>
  </div>

  <div class="search-box">
    <input type="text" placeholder="Search Decoration Products">
    <button type="button">
      <i class="fa fa-search"></i>
    </button>
  </div>

  <div class="top-actions">
    <div class="action-item">
      <i class="fa fa-user"></i>
      <span>Login</span>
    </div>

    <div class="action-item">
      <i class="fa fa-shopping-cart"></i>
      <span>Cart</span>
    </div>
  </div>

</div>

<!-- MAIN MENU -->
<div class="menu-navbar">
  <ul>

    <li class="active">
      <a href="/">Home</a>
    </li>

    <% if (typeof sections !== "undefined") { %>
      <% sections.forEach(section => { %>

        <li class="dropdown">
          <a href="/section/<%= section.display_slug %>">
            <%= section.name %>
          </a>

          <% if (
            typeof subSectionsBySection !== "undefined" &&
            subSectionsBySection[section.id]
          ) { %>

            <div class="dropdown-menu">
              <% subSectionsBySection[section.id].forEach(sub => { %>
                <a href="/sub-section/<%= sub.display_slug %>">
                  <%= sub.name %>
                </a>
              <% }) %>
            </div>

          <% } %>
        </li>

      <% }) %>
    <% } %>

    <li>
      <a href="/track-order">Track Order</a>
    </li>

    <li>
      <a href="/gallery">Gallery</a>
    </li>

    <li>
      <a href="/dealer">Become Dealer</a>
    </li>

    <li>
      <a href="/contact">Contact</a>
    </li>

  </ul>
</div>
